<html layout:decorate="~{layout}">
<head>
    <title>board-add</title>
</head>
<div layout:fragment="content">
    <div class="max-w-6xl mx-auto pt-20">
        <div class="w-full h-32 pb-5">
            <div class="h-full flex items-end justify-between">
                <span class="text-3xl font-bold">글 작성</span>
            </div>
        </div>
        <form method="post" th:object="${board}" class="text-2xl w-full" id="saveForm" autocomplete="off"
              enctype="multipart/form-data">
            <div class="flex">
                <select th:field="*{categoryId}" class="w-1/6 my-1 border-b text-base font-bold mr-3">
                    <option value="2">자유게시판</option>
                    <option value="1">공지사항</option>
                </select>
                <input type="text" th:field="*{boardTitle}" placeholder="제목" class="w-full my-1 border-b"/><br/>
            </div>
            <input type="text" th:field="*{boardWriter}" placeholder="작성자" class="w-full my-1 border-b"/><br/>
            <input type="password" th:field="*{boardPwd}" placeholder="비밀번호" class="w-full my-1 border-b"/><br/>
            <textarea th:field="*{boardCnt}" placeholder="content" class="w-full my-1 border-b" style="height:40rem;"></textarea><br/>
            <div class="w-full border-b py-5">
                <span class="">파일첨부</span>
                <div class="file_list text-lg mt-3">

                    <div class="flex">
                        <button type="button" onclick="addFile();" class="btns fn_add_btn border rounded mr-5"><span>파일 추가</span></button>
                        <div class="file_input">
                            <label>
                                <input type="file" name="files" onchange="selectFile(this);" />
                            </label>
                            <input type="text" readonly class="hidden"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-end text-lg my-5">
                <a th:href="@{/board}" class="bg-gray-500 text-white px-6 py-1 rounded">취소</a>
                <input type="submit" value="등록" class="bg-indigo-500 text-white px-6 ml-3 py-1 rounded"/>
            </div>
        </form>
        <div th:each="file : ${files}" class="flex mb-3">
            <span th:text="${file.fileName}"></span>
            <button onclick="deleteFile(${file.getFileId})" class="ml-2 text-red-500">삭제</button>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
        // 파일 선택
    function selectFile(element) {

        const file = element.files[0];
        const filename = element.closest('.file_input').querySelector('input[type="text"]');

        if ( !file ) {
            filename.value = '';
            return false;
        }

        // 2. 파일 크기가 10MB를 초과하는 경우
        const fileSize = Math.floor(file.size / 1024 / 1024);
        if (fileSize > 10) {
            alert('10MB 이하의 파일로 업로드해 주세요.');
            filename.value = '';
            element.value = '';
            return false;
        }

        // 3. 파일명 지정
        filename.value = file.name;
    }


    // 파일 추가
    function addFile() {
        const fileDiv = document.createElement('div');
        fileDiv.innerHTML =`
            <div class="flex mt-3">
                <button type="button" onclick="removeFile(this);" class="btns del_btn border rounded mr-16"><span>삭제</span></button>
                <div class="file_input flex text-lg">
                    <label>
                        <input type="file" name="files" onchange="selectFile(this);" />
                    </label>
                    <input type="text" readonly class="hidden"/>
                </div>
            </div>
        `;
        document.querySelector('.file_list').appendChild(fileDiv);
    }

    // 파일 삭제
    function removeFile(element) {
        const fileInput = element.parentElement.querySelector('input[type="file"]');
        fileInput.value = '';
        const fileDiv = element.closest('div');
        fileDiv.remove();
    }

    function deleteFile(fileId) {
        // // 확인 메시지 표시
        // if (!confirm('정말로 이 파일을 삭제하시겠습니까?')) {
        //     return; // 사용자가 취소하면 함수 종료
        // }
        //
        // // DELETE 요청 보내기
        // fetch(`/file/delete/${fileId}`, {
        //     method: 'DELETE'
        // })
        // .then(response => {
        //     if (response.ok) {
        //         window.location.reload();
        //     } else {
        //         // 파일 삭제 실패 시 사용자에게 알림
        //         alert('파일 삭제에 실패했습니다.');
        //     }
        // })
        // .catch(error => {
        //     console.error('파일 삭제 오류:', error);
        //     alert('파일 삭제 중 오류가 발생했습니다.');
        // });
        console.log(fileId);
    }
</script>
</html>
