<html layout:decorate="~{layout}">
<head>
    <title>board-detail</title>
</head>
<div layout:fragment="content">
    <div class="max-w-6xl mx-auto pt-20">
        <div class="w-full h-32 pb-5">
            <div class="h-full flex items-end justify-between">
                <span class="text-3xl font-bold">자유게시판</span>
            </div>
        </div>
        <div class="w-full">
            <div>
                <div th:text="${board.boardTitle}" class="text-4xl font-bold"></div>
                <div class="flex mt-3">
                    <span th:text="${board.boardWriter}" class="mr-8"></span>
                    <span>
                        <span th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        <span th:if="${board.modifyDate != null}">(수정됨)</span>
                    </span>
                    <span class="ml-auto">
                        <a th:href="@{|/board/modify/${board.boardId}|}" class="border border-gray-400 px-3 rounded">수정</a>
                        <a href="javascript:void(0);" th:data-uri="@{|/board/delete/${board.boardId}|}" class="delete border border-gray-400 px-3 rounded">삭제</a>
                    </span>
                </div>
                <div class="mt-2 bg-gray-200 border-t border-b border-black px-16 py-4 flex items-center">
                    <span class="mr-5 text-lg font-bold">첨부파일</span>
                    <span th:each="file, loop : ${files}" class="flex">
                        <a th:href="@{|/board/${board.boardId}/files/${file.fileId}/download|}" th:download="${file.fileName}" th:text="${file.fileName}" class="mr-5 text-blue-800"></a>
                    </span>
                </div>
                <div class="w-5/6 mx-auto">
                    <div th:text="${board.boardCnt}" class="my-10"></div>
                </div>
                <div class="w-4/6 mb-5 bg-gray-100 mx-auto text-sm">
                    <div th:each="reBoard, loop : ${reBoards}" class="py-1">
                        <a th:href="@{|/board/${reBoard.boardId}|}" th:text="|ㄴ ${reBoard.boardTitle}|"></a>

                    </div>
                </div>
                <div class="flex justify-center">
                    <a th:href="@{/board}" class="border rounded bg-gray-100 px-5 py-2 mr-2">목록</a>
                    <a th:href="@{|/board/add/${board.boardId}|}" class="border rounded bg-indigo-500 ml-2 px-5 py-2 text-white">답글</a>
                </div>
            </div>
            <div>
                <div class="w-5/6 mx-auto text-2xl font-bold mb-3" th:text="|댓글 (${comments.size()})|"></div>
                <form method="post" th:action="@{/comment/add}" id="saveForm" autocomplete="off">
                    <div class="w-5/6 mx-auto text-center bg-gray-200">
                        <div class="flex border-b border-gray-300">
                            <input type="hidden" name="boardId" th:value="${board.boardId}">
                            <input type="text" name="cmtWriter" placeholder="작성자" class="bg-gray-200 p-2 w-1/2"/><br/>
                            <input type="text" name="cmtPwd" placeholder="비밀번호" class="bg-gray-200 border-l border-gray-300 p-2"/><br/>
                        </div>
                        <textarea name="cmtCnt" placeholder="댓글을 입력하세요" class="text-base w-full h-32 p-2 resize-none bg-gray-200"></textarea>
                    </div>
                    <div class="w-5/6 text-right mx-auto">
                        <input type="submit" value="등록" class="btns bg-indigo-500 py-1 px-5 rounded text-white mt-2">
                    </div>
                </form>
                <div th:each="comment, loop : ${comments}" class="comment w-5/6 mx-auto my-5">
                    <div th:if="${comment.groupId == 0}" class="border-b">
                        <div class="flex">
                            <div th:text="${comment.cmtWriter}" class="mr-5 font-bold"></div>
                            <span th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            <span th:if="${comment.modifyDate != null}">(수정됨)</span>
                            <div class="text-sm ml-auto">
                                <button class="reBtn border border-gray-400 px-1 rounded">답글</button>
                                <button class="editBtn border border-gray-400 px-1 rounded">수정</button>
                                <button href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.cmtId}|}" class="delete border border-gray-400 px-1 rounded">삭제</button>
                            </div>
                        </div>
                        <div class="relative">
                            <div th:text="${comment.cmtCnt}" class="cmtCnt py-2"></div>
                            <form method="post" th:action="@{/comment/modify}" autocomplete="off" class="edit-space w-full hidden">
                                <div class="flex hidden">
                                    <input type="hidden" name="cmtId" th:value="${comment.cmtId}">
                                    <input type="hidden" name="cmtWriter" th:value="${comment.cmtWriter}"/>
                                    <input type="hidden" name="cmtPwd" th:value="${comment.cmtPwd}"/>
                                </div>
                                <textarea name="cmtCnt" type="text" class="edit-input w-full h-36 resize-none top-2 border" th:text="${comment.cmtCnt}"></textarea>
                                <div class="flex justify-end mb-2 text-sm text-white">
                                    <input type="submit" value="저장" class="save-button border px-1 bg-indigo-500 rounded">
                                </div>
                            </form>
                            <div class="recomment-space" th:each="test, loop : ${comments}">
                                <div th:if="${test.groupId == comment.cmtId}" th:text="${test.cmtCnt}"></div>
                            </div>
                            <form method="post" th:action="@{|/comment/add/${comment.cmtId}|}" autocomplete="off" class="recmt-space w-full hidden">
                                <div class="flex border border-b-0">
                                    <input type="hidden" name="boardId" th:value="${comment.boardId}"/>
                                    <input type="text" name="cmtWriter" placeholder="작성자" class="border-r"/>
                                    <input type="password" name="cmtPwd" placeholder="비밀번호"/>
                                </div>
                                <textarea name="cmtCnt" type="text" class="w-full h-16 resize-none top-2 border"></textarea>
                                <div class="flex justify-end mb-2 text-sm text-white">
                                    <input type="submit" value="저장" class="border px-1 bg-indigo-500 rounded">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    let editCount = 0;
    // 수정 버튼 클릭
    document.querySelectorAll('.editBtn').forEach(function(button) {
        button.addEventListener('click', function() {
            let commentContent = this.parentElement.parentElement.nextElementSibling.querySelector('.cmtCnt');
            let editSpace = this.parentElement.parentElement.nextElementSibling.querySelector('.edit-space');

            if (!editCount) {
                commentContent.classList.add('hidden');
                editSpace.classList.remove('hidden');
                editCount = 1;
            } else {
                commentContent.classList.remove('hidden');
                editSpace.classList.add('hidden');
                editCount = 0;
            }
        });
    });

    let reCount = 0;
    // 답글 버튼 클릭
    document.querySelectorAll('.reBtn').forEach(function(button) {
        button.addEventListener('click', function() {
            let reCmtSpace = this.parentElement.parentElement.nextElementSibling.querySelector('.recmt-space');

            if (!reCount) {
             reCmtSpace.classList.remove('hidden');
             reCount = 1;
            } else {
             reCmtSpace.classList.add('hidden');
             reCount = 0;
            }

        });
    });
</script>
</html>
