<html layout:decorate="~{layout}">
<head>
    <title>board-list</title>
</head>
<div layout:fragment="content">
    <div class="max-w-6xl mx-auto pt-20">
        <div class="w-full h-32 pb-5">
            <div class="h-full flex items-end justify-between">
                <span class="text-3xl font-bold">자유게시판</span>
                <div>
                    <label class="input input-bordered flex justify-between gap-2">
                        <select th:value="${kwc}" type="text" id="search_kwc" class="h-full border-r">
                            <option value="all" th:selected="${kwc == 'all'}">전체</option>
                            <option value="title" th:selected="${kwc == 'title'}">제목</option>
                            <option value="content" th:selected="${kwc == 'content'}">내용</option>
                            <option value="writer" th:selected="${kwc == 'writer'}">작성자</option>
                        </select>
                        <input type="text" id="search_kw" class="inline-block bg-transparent" th:value="${kw}" placeholder="검색"/>
                        <button type="button" id="btn_search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg></button>
                    </label>
                </div>
            </div>
        </div>
        <table class="w-full">
            <tr class="border-b-2 border-black text-m text-gray-500 h-10">
                <th class="w-36">번호</th>
                <th>제목</th>
                <th class="w-44">작성자</th>
                <th class="w-48">작성일시</th>
            </tr>
            <tr th:if="${!boards.list.isEmpty()}" th:each="board, loop : ${boards.list}" class="h-12 text-center border-b">
                <td th:text="${boards.getPagination().getTotalRecordCount() - (boards.getPagination().getLimitStart() - 1) - loop.index}"></td>
                <td class="text-left">
                    <span th:if="${board.categoryId == 1}" class="text-gray-500 mr-2">[공지사항]</span>
                    <a th:href="@{|/board/${board.boardId}|}" th:text="${board.boardTitle}"></a>
                    <div>wow</div>
                    <div>wow</div>
                </td>
                <td th:text="${board.boardWriter}"></td>
                <td th:text="${#temporals.format(board.createDate, 'yy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr th:if="${boards.getList().isEmpty()}">
                <td colspan="4" class="text-center text-gray-600 p-56">게시글이 없습니다.</td>
            </tr>
        </table>
        <div class="relative mt-5">
            <!--/* 페이지네이션 */-->
            <div th:if="${!boards.getList().isEmpty()}" class="join flex justify-center pt-2">
                <button class="page-link join-item btn btn-sm" href="javascript:void(0)" th:data-page="${1}"><<</button>
                <button class="page-link join-item btn btn-sm" href="javascript:void(0)" th:data-page="${boards.pagination.getStartPage() - 1}"><</button>
                <button class="page-link join-item btn btn-sm"
                        th:each="page: ${#numbers.sequence(boards.pagination.getStartPage(), boards.pagination.getEndPage())}"
                        th:if="${page <= boards.pagination.getEndPage()}"
                        th:text="${page}"
                        th:href="@{|/board?page=${page}&kwc=${kwc}&kw=${kw}|}"
                        th:data-page="${page}"
                        th:classappend="${page == params.page ? 'bg-gray-200' : ''}">
                </button>
                <button class="page-link join-item btn btn-sm" href="javascript:void(0)" th:data-page="${boards.pagination.getEndPage() + 1}">></button>
                <button class="page-link join-item btn btn-sm" href="javascript:void(0)" th:data-page="${boards.pagination.getTotalPageCount()}">>></button>
            </div>
            <form th:action="@{/board}" method="get" id="searchForm">
                <input type="hidden" id="kwc" name="kwc" th:value="${kwc}">
                <input type="hidden" id="kw" name="kw" th:value="${kw}">
                <input type="hidden" id="page" name="page" th:value="${params.page}">
            </form>
            <a th:href="@{/board/add}" class="bg-indigo-500 text-white font-bold p-2 rounded-lg absolute top-1 right-0">+ NEW POST</a>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });

    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kwc').value = document.getElementById('search_kwc').value;
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 1;
        document.getElementById('searchForm').submit();
    });

    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const kwcValue = urlParams.get('kwc');
        const kwValue = urlParams.get('kw');
        document.getElementById('kwc').value = kwcValue;
        document.getElementById('kw').value = kwValue;

        if (kwValue) {
            document.getElementById('search_kw').value = kwValue;
        }
        if (kwcValue) {
            document.getElementById('search_kwc').value = kwcValue;
        }
    };
</script>
</html>