<html layout:decorate="~{layout}">
<head>
    <title>board-list</title>
</head>
<div layout:fragment="content">
    <div class="max-w-6xl mx-auto pt-20">
        <div class="w-full h-32 pb-5">
            <div class="h-full flex items-end justify-between">
                <span class="text-3xl font-bold">자유게시판</span>
                <div>search box</div>
            </div>
        </div>
        <table class="w-full">
            <tr class="border-b-2 border-black text-m text-gray-500 h-10">
                <th class="w-36">번호</th>
                <th>제목</th>
                <th class="w-44">작성자</th>
                <th class="w-48">작성일시</th>
            </tr>
            <tr th:each="board, loop : ${boards.list}" class="h-12 text-center border-b">
                <td th:text="${boards.getPagination().getTotalRecordCount() - (boards.getPagination().getLimitStart() - 1) - loop.index}"></td>
                <td class="text-left">
                    <span th:if="${board.categoryId == 1}" class="text-gray-500 mr-2">[공지사항]</span>
                    <a th:href="@{|/board/${board.boardId}|}" th:text="${board.boardTitle}" ></a>
                </td>
                <td th:text="${board.boardWriter}"></td>
                <td th:text="${#temporals.format(board.createDate, 'yy-MM-dd HH:mm:ss')}"></td>
            </tr>
        </table>
        <div class="relative mt-5">
            <!--/* 페이지네이션 */-->
            <div class="join flex justify-center pt-2">
                <button class="page-link join-item btn btn-sm" href="javascript:void(0)" th:data-page="${1}"><<</button>
                <button class="page-link join-item btn btn-sm" href="javascript:void(0)" th:data-page="${boards.pagination.getStartPage() - 1}"><</button>
                <button class="page-link join-item btn btn-sm" th:each="page: ${#numbers.sequence(0, boards.pagination.getTotalPageCount())}"
                        th:if="${page >= boards.pagination.getStartPage() and page <= boards.pagination.getEndPage()}" th:text="${page}"
                        href="javascript:void(0)" th:data-page="${page}"
                        th:classappend="${page == params.page ? 'bg-gray-200' : ''}"></button>
                <button class="page-link join-item btn btn-sm" href="javascript:void(0)" th:data-page="${boards.pagination.getEndPage() + 1}">></button>
                <button class="page-link join-item btn btn-sm" href="javascript:void(0)" th:data-page="${boards.pagination.getTotalPageCount()}">>></button>
            </div>
            <form th:action="@{/board}" method="get" id="searchForm">
<!--                <input type="hidden" id="kw" name="kw" th:value="${kw}">-->
                <input type="hidden" id="page" name="page" th:value="${params.page}">
            </form>
            <a th:href="@{/board/add}" class="bg-indigo-500 text-white font-bold p-2 rounded-lg absolute top-1 right-0">+ NEW POST</a>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
            console.log(document.getElementById('page').value);
        });
    });
</script>
</html>