<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.demoBoard.domain.board.mapper.BoardMapper">
    <!-- board 테이블 전체 컬럼 -->
    <sql id="boardColumns">
        boardId
        , boardTitle
        , boardCnt
        , boardWriter
        , boardPwd
        , groupId
        , categoryId
        , createDate
        , modifyDate
        , boardDel
    </sql>

    <!-- 게시글 리스트 조회 -->
    <select id="findAll" parameterType="demo.demoBoard.common.dto.SearchDto" resultType="demo.demoBoard.domain.board.model.BoardResponse">
        SELECT *
        FROM (
            SELECT
                ROW_NUMBER() OVER(ORDER BY boardId desc) as row_num,
                <include refid="boardColumns"/>
            FROM
                board
            WHERE
                boardDel = 0
                AND groupId = 0
                <include refid="search" />
            )
        where row_num between #{pagination.limitStart} and #{pagination.limitEnd}
    </select>

    <!-- 게시글 수 카운팅 -->
    <select id="count" parameterType="demo.demoBoard.common.dto.SearchDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            board
        WHERE
            boardDel = 0
            AND groupId = 0
            <include refid="search" />
    </select>

    <!-- 게시글 저장 -->
    <insert id="insertBoard" parameterType="demo.demoBoard.domain.board.model.BoardRequest">
        <selectKey keyProperty="boardId" order="BEFORE" resultType="int">
            SELECT board_seq.nextval FROM dual
        </selectKey>
        INSERT INTO board (
        <include refid="boardColumns" />)
        VALUES (
            #{boardId}
            , #{boardTitle}
            , #{boardCnt}
            , #{boardWriter}
            , #{boardPwd}
            , 0
            , #{categoryId}
            , SYSDATE
            , null
            , 0)
    </insert>

    <!-- 답글 저장 -->
    <insert id="insertReBoard" parameterType="demo.demoBoard.domain.board.model.BoardRequest">
        <selectKey keyProperty="boardId" order="BEFORE" resultType="int">
            SELECT board_seq.nextval FROM dual
        </selectKey>
        INSERT INTO board (
        <include refid="boardColumns" />)
        VALUES (
        #{boardId}
        , #{boardTitle}
        , #{boardCnt}
        , #{boardWriter}
        , #{boardPwd}
        , #{groupId}
        , #{categoryId}
        , SYSDATE
        , null
        , 0)
    </insert>

    <!-- 게시글 상세정보 조회 -->
    <select id="findById" parameterType="int" resultType="demo.demoBoard.domain.board.model.BoardResponse">
        SELECT
            <include refid="boardColumns" />
        FROM
            board
        WHERE
            boardId = #{boardId}
    </select>

    <select id="findAllBoards" resultType="demo.demoBoard.domain.board.model.BoardResponse">
        SELECT
        <include refid="boardColumns" />
        FROM
        board
        WHERE
        boardDel = 0
        ORDER BY
        boardId
    </select>

    <!-- 게시글 수정 -->
    <update id="update" parameterType="demo.demoBoard.domain.board.model.BoardRequest">
        UPDATE board
        SET
            modifyDate = SYSDATE
          , boardTitle = #{boardTitle}
          , boardCnt = #{boardCnt}
          , boardWriter = #{boardWriter}
          , boardPwd = #{boardPwd}
        WHERE
            boardId = #{boardId}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="deleteById" parameterType="int">
        UPDATE board
        SET
            boardDel = 1
        WHERE
            boardId = #{boardId}
    </delete>

    <sql id="search">
        <if test="kwc == 'title' and kw != null and kw != ''">
            AND boardTitle LIKE '%' || #{kw} || '%'
        </if>
        <if test="kwc == 'content' and kw != null and kw != ''">
            AND boardCnt LIKE '%' || #{kw} || '%'
        </if>
        <if test="kwc == 'writer' and kw != null and kw != ''">
            AND boardWriter LIKE '%' || #{kw} || '%'
        </if>
        <if test="kwc == 'all' and kw != null and kw != ''">
            AND (
            boardTitle LIKE '%' || #{kw} || '%' OR
            boardCnt LIKE '%' || #{kw} || '%' OR
            boardWriter LIKE '%' || #{kw} || '%'
            )
        </if>
    </sql>



    <!--   답글 리스트 조회 param -->
    <select id="findByGroupId" parameterType="int" resultType="demo.demoBoard.domain.board.model.BoardResponse">
        SELECT
        <include refid="boardColumns" />
        FROM
        board
        WHERE
        boardDel = 0
        AND groupId = #{groupId}
        ORDER BY
        boardId
    </select>

    <!--   답글 리스트 조회   param x  -->
    <select id="findBoardByGroup" resultType="demo.demoBoard.domain.board.model.BoardResponse">
        SELECT
        <include refid="boardColumns" />, LEVEL AS boardLevel
        FROM
        board
        START WITH  groupId = 0
        CONNECT BY
        PRIOR boardId = groupId
        ORDER BY boardId, boardLevel
    </select>

</mapper>